{{#each this}}
    <li class="country-list__item">
        <img style="width: 40px;" class="country-list__image" src="{{flags.png}}" alt="{{name.official}}">
        <span class="country-list__text">{{name.common}}</span>
    </li>
{{/each}}